<div class="flexbox-container-1">
    <div class="flexboxitem-felxbox-1" data-aos="fade-down"><br>
        <h1>Graduation</h1><br>
        <ul>
            <li >
                College: Keshav Memorial Institute of Technology And Sciences.
            </li><br>
            <li>
            Stream:Computer Sciences
        </li><br>
        <li>
            From: July 2018 - September 2022
        </li>
        </ul>
    </div>
    <div class="flexboxitem-felxbox-1"data-aos="fade-down" ><br>
        <h1>Intermediate</h1><br>
        <ul>
            <li>
                College: Sri Chaitanya Junior College
            </li><br>
            <li>
            Stream:MPC
        </li><br>
        <li>
            From: July 2016 - May 2018
        </li>
        </ul>
    </div>
    <div class="flexboxitem-felxbox-1" data-aos="fade-down"><br>
        <h1>Schooling</h1><br>
        <ul>
            <li>
               School: Century High School.
            </li><br>
            <li>
            Stream:SSC
        </li><br>
        <li>
            From: July 2004 - may 2016
        </li>
        </ul>
    </div>
</div>

