<div class="container">
 
    <div class="row">
        <div class="col-md-5">
           
        <ul >
            
            <li>
                
                <a routerLink="/home" >Home</a>
            </li>
            <li>
                <a class="asad1" routerLink="/education">Education</a>
            </li>
            <li>
                <a routerLink="/Experience">Experience</a>
            </li>
            <li>
                <a routerLink="/Projects">Projects</a>
            </li>
            <li>
                <a routerLink="/Skills">Skills</a>
            </li>
            <li>
                <a routerLink="Contact">Contact</a>
            </li>
        </ul>
    </div>
</div>
</div>