<section class="flexbox-container-1">
    <div class="flexboxitem-felxbox-1"data-aos="fade-right" ><br>
        <h1 class="blacky" >Designation: <span class="des1" > Software Engineer Trainee</span> </h1><br>
        <ul>
            <li>
                <span class="ablack">Company:</span> (Caliber Technologies Pvt Ltd.)
            </li><br>
            <li>
                <span class="ablack">Type: </span> Internship
        </li><br>
        <li>
            <span class="ablack">From:</span> Feb 2022-Aug 2022
        </li><br>
        <li>
            <span class="ablack">Technologies Worked On:</span> Asp.Net Core.
        </li>
        </ul>
    </div>
    
    <div class="flexboxitem-felxbox-1" data-aos="fade-left"><br>
        
        <h1 class="blacky" >Designation: <span class="des" >Full Stack Developer</span></h1><br>
        <ul>
            <li >
                <span class="ablack">Company:</span>  (Edpace solutions pvt ltd.)
            </li><br>
            <li>
                <span class="ablack">Type:</span> Full Time
        </li><br>
        <li>
            <span class="ablack">From:</span> Nov 2021 - Present
        </li><br>
        <li>
            <span class="ablack">Technologies Worked On:</span> Angularjs , Node js.
        </li>
        </ul>
    </div>
   
</section>

