<div class="flexbox-container-1">
    <div class="flexboxitem-felxbox-1" data-aos="fade-up">
      
       <ul>
            <h4 class="black" >SIGNIFY - VIRTUAL TEACHING PORTAL</h4>
            <li>
             <span class="white">  A full fledged web application for organisation to teach and to assign the assignments to the students.
                This web application has 3 modules i.e, for student, faculty and the admin. </span>
           </li><br>
           <li>
               
               <span class="white"> The active classes are displayed in student and teacher module. Active quizes are displayed on student's module. </span>
       </li><br>
       <li>
         
           <span class="white">  Parallely the performance of each student in the quiz is also tracked down and the list of performance of students is shown to the teacher and individial progress and performace to the student.</span>
       </li><br>
       <li>
           
        GithubLink     <a href="https://github.com/">  (Click here) </a>
       </li><br>
      
       
       </ul>
   </div>
   <div class="flexboxitem-felxbox-1" data-aos="fade-down">
      
    <ul>
         <h4 class="black" >VENTILATOR MANAGEMENT USING REST API</h4>
         <li>
          <span class="white"> Web API for hospital ventilator management, in restful architecture which increases the modularity and scalability of the application </span>
        </li><br>
        <li>
            
            <span class="white"> It performs CRUD operations on the data based on the requests received from the client, and these requests efficiency are checked using POSTMAN and SWAGGER </span>
    </li><br>
   
    <li>
        
        GithubLink   <a href="https://github.com/AsadMohammad1234/MicroProject-1"> (Click here)  </a>
    </li><br>
   
    
    </ul>
</div>
   
   </div>
