<div class="flexbox-container-1">
    <div class="flexboxitem-felxbox-1" data-aos="fade-right">
      
       <ul>
           <li> <h4 class="black" >Languages Known:</h4>
             <span class="white">Core Java, C#, Javascript, Typescript </span>
           </li><br>
           <li>
               <h4 class="black">Front End Technologies:</h4>
               <span class="white">  Angular, HTML, CSS, Bootstrap, SASS, Responsive Web Design </span>
       </li><br>
       <li>
           <h4 class="black">Back End Technologies:</h4>
           <span class="white">Node js , Asp.net Core </span>
       </li><br>
       <li>
           <h4 class="black">Data Base:</h4>
           <span class="white">Sql server,Mysql </span>
       </li><br>
       <li>
           <h4 class="black"> Data Structure And Algorithms:</h4><br>
       </li>
       <li>
           <h4 class="black"> Basics of Lynux and Git:</h4>
       </li>
       </ul>
   </div>
   
   </div>
