/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppinsn&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
   
}

.skills{
    padding-left: 40px;
}

.flexbox-container{
    display:flex   
  }
  
  .flexbox-item{
      width:50%;
      /* margin:5px;    */
      padding: 30px;
      color: #FFF;
  }
 
  .asad{
    font-size:large;
    
  }
  
  .ablack{
    color: black;
    font-weight: bold;
  }
  
  .flexbox-item-2 img{
      width: 400px;
      border-radius: 20px;
      margin-left: 150px;
  }
 
.container   ul li{ 
  color: aqua;
    display: block;
    float: left;
    padding: 20px 25px;
    cursor: pointer;
    max-height: 340px;
    font-size: x-large;
   
    }
 .container{
    
    display:flex;
    justify-content: center;
    background: #FFF;;
    max-height: 340px;
} 
a {  
   color: #000;
   text-decoration: none; 
  }

body{
    /* background-image: linear-gradient(to right,#302d2d,#9b9ea0); */
    background-image: linear-gradient(to  right,#2c2b2b,#9b9ea0);
    /* background-image: linear-gradient(to right,#fc5c7d,#8f9de4,#da0376,#dfb3cb);  */
    background-size:cover; 
    background-position: top ; 
    font-family: sans-serif;  
    font-weight:normal; 
}

  
 /* .ayan ul li{
    font-size:large;
   margin-left: 15px;
   padding-left: 10px;
 } */
  .des{
    color:#FFF
  }
  .des1{
    color:#FFF
  }
  

.flexbox-container-1{
  display: column;
  margin:auto;
   width: 100%;
 }
 .flexboxitem{
   width:100%;
   margin:auto;
 }
 .flexboxitem-felxbox-1{
   height:300px;
  margin-left: 50px;
 padding-top: 20px;
 }
 
   .white{
    color:#FFF;
    font-size: large;
   }
   .black{
    color: black;
    font-size: x-large;
   }
   .blacky{
    font-size:xx-large;
      color: #000;
   }
   .flexboxitem-felxbox-1 ul li {
    color:#FFF;
    font-size: x-large;
   }

@media all and (max-width : 400px){
    a{
        width : 5%;
        font-size: 15px;
    }

    .flexbox-container{
        /* flex-wrap: wrap; */
        flex-direction:column-reverse;
    }

    .flexbox-item{
        width: 90%;
        font-size: 20px;
        padding : 30px;
    }

    .flexbox-item h1{
        font-size: 30px;
    }

    .flexbox-item-2 img{
        width: 300px;
        border-radius: 20px;
        margin : auto;
    }
   /* other components starts */
    .flexbox-container-1{
      display: column;
      margin:auto;
       width: 100%;
     }
     .flexboxitem{
       width:50%;
       margin-top: 30px;
       
     }
     .flexboxitem-felxbox-1{
       height:300px;
      margin-left: 50px;
    
     }
}

@media all and (max-width : 500px){
    a{
        width : 5%;
        font-size: 15px;
    }

    .flexbox-container{
        /* flex-wrap: wrap; */
        flex-direction:column-reverse;
    }

    .flexbox-item{
        width: 90%;
        font-size: 20px;
        padding : 30px;
    }

    .flexbox-item h1{
        font-size: 30px;
    }

    .flexbox-item-2 img{
        width: 300px;
        border-radius: 20px;
        margin : auto;
    }
}


/* @media (min-width:800px) and (max-width:1024px)   {
    a{
        font-size: 20px;
    }
    .flex-container{
        flex-direction:column-reverse;
    }
    .flexbox-item{
        width: 50%;
        font-size: 20px;
    }
    .flexbox-item-2 img{
        width:350px;
    } 
    
  }*/


    

