<div class="flexbox-container bg-image">
    <div class="flexbox-item flexbox-item-1">
       
   <div data-aos="fade-right">   <span class="asad"  > Hello, I'm Asad Mohammad</span></div><br>

        <h1 class="ablack">FULL STACK DEVELOPER  </h1><br>
    <div data-aos="fade-left">    <span  class="asad"> I'm a Computer Programmer who uses coding to operate on both front- and back-end systems. My duties include creating user interactions on various websites and platforms, writing code optimized for websites and developing databases and services for functionality.  </span></div>
    </div>
    <div class="flexbox-item flexbox-item-2">
        <img class="image" src="../../assets/images/IMG-0325.jpg" alt="" data-aos="fade-left" >
    </div>
   
</div>
